src/main/resources/xsd/star/Resources/Nouns/PartsDeliveryDetails.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" attributeFormDefault="unqualified" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://www.starstandard.org/STAR/5"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made
			available under an Eclipse Public Licenses 1.0.
			This license may be
			found in the STAR/License directory as well as the
			STAR BOD
			Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="PartsDeliveryDetails" type="PartsDeliveryDetailsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:element name="PartsDeliveryDetailsHeader" type="PartsDeliveryDetailsHeaderType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> Parts Delivery Details
				Header</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="PartsDeliveryDetailsDetail" type="PartsDeliveryDetailsDetailType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Detail Line
			</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="PartsDeliveryDetailsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"> 
				In order to get parts delivered on time to the right cost, the dealers have a list of shipping conditions 
				to chose from based on order type. These shipping conditions can change over time and the dealer needs to 
				make sure he has the latest set to secure accurate delivery of the goods.		
            </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" ref="PartsDeliveryDetailsHeader"/><xsd:element maxOccurs="unbounded" minOccurs="0" ref="PartsDeliveryDetailsDetail"/></xsd:sequence></xsd:complexType><xsd:complexType name="PartsDeliveryDetailsHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Customer Information
				header information.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence><xsd:element maxOccurs="unbounded" minOccurs="0" ref="AcknowledgementStatus"/><xsd:element maxOccurs="1" minOccurs="0" ref="BillToParty"/><xsd:element maxOccurs="1" minOccurs="0" ref="SoldToParty"/><xsd:element maxOccurs="1" minOccurs="0" ref="SupplierParty"/><xsd:element maxOccurs="unbounded" minOccurs="0" ref="ShipToParty"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="PartsDeliveryDetailsDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Parts Delivery Detail
				information</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" name="ShipToPartyID" type="udt:IdentifierType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
						Identifier to reference a ShipToParty in the Header
					</xsd:documentation></xsd:annotation></xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="DefaultShipToIndicator" type="udt:IndicatorType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
						Indicates if the ShipToParty is the default ShipToParty. You can only have one default ShipToParty defined.
 					</xsd:documentation></xsd:annotation></xsd:element><xsd:element maxOccurs="1" minOccurs="0" name="AllowBackOrderIndicator" type="udt:IndicatorType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
						Inidcates that a part can be back ordered.
					</xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="ShippingDetail" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:schema>