src/main/resources/xsd/star/Resources/Nouns/ValidMultipleVehicleIncentiveRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made available under an Eclipse Public Licenses 1.0.
         This license may be found in the STAR/License directory as well as the STAR BOD Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="ValidMultipleVehicleIncentiveRequest" type="ValidMultipleVehicleIncentiveRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
            The primary purpose of this Noun is to provide a comprehensive list of incentives 
            that a buyer qualifies for when purchasing or financing a specific vehicle.
         </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidMultipleVehicleIncentiveRequestHeader" type="ValidMultipleVehicleIncentiveRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidMultipleVehicleIncentiveRequestDetail" type="ValidMultipleVehicleIncentiveRequestDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Valid Deals detail.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidMultipleVehicleIncentiveRequestHeader" minOccurs="1" maxOccurs="1"/><xsd:element ref="ValidMultipleVehicleIncentiveRequestDetail" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="ValidMultipleVehicleIncentiveRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the
            entire ValidMultipleVehicleIncentiveRequest Business Object Document.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence><xsd:element ref="Localization" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVDealManagement" minOccurs="1" maxOccurs="1"/><xsd:element name="returnIncentiveProgramTagsInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">If this flag is set to true, then detailed eligibility and 
                           filtering information will be included in the response.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="ValidMultipleVehicleIncentiveRequestDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This component contains the valid 
            deals s information for Incentive program
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidMultipleVehicleIncentiveRequestRequest" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="MVDealManagementType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="topOfDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to Top of Deal programs. 
                  Top of Deal programs are the primary incentives that a buyer receives when purchasing or financing a vehicle
                  (consumer cash, finance, lease). Setting the flag to true will exclude all stackable add-on programs from the results.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="alwaysStackableOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to: Top of Deal programs, and 
                  Always Stackable incentives.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="bestDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to one deal for each Purchase Type. 
                  Identifies the best deal based on the purchase type only</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="MVDealManagement" type="MVDealManagementType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveRequestRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation><xsd:sequence><xsd:element ref="RequestTags" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ValidMultipleVehicleIncentiveRequestRequest" type="ValidMultipleVehicleIncentiveRequestRequestType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveRequestRequestTagsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The
                GetValidMultipleVehicleIncentiveRequestRequestTagsGroup is the second major grouping of request data. It
                provides the eligibility criteria for selecting incentives. </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="RequestFilterSelection" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterDate" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterFlexibleString" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterNumeric" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterList" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="RequestTags" type="ValidMultipleVehicleIncentiveRequestRequestTagsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">The
            GetValidMultipleVehicleIncentiveRequestRequestTagsGroup is the second major grouping of request data. It
            provides the eligibility criteria for selecting incentives. </xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="MVRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
                This section controls the type and the structure of the content to be returned. This is where you specify what you will get back. These controls allow 
                you to manage the filtering criteria.
            </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="Localization" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVDealManagement" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MVRequestHeader" type="MVRequestHeaderType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                This section controls the type and the structure of the content to be returned. This is where you specify what you will get back. These controls allow you 
                to manage the filtering criteria.
            </xsd:documentation></xsd:annotation></xsd:element></xsd:schema>