src/main/resources/xsd/star/Resources/Nouns/ValidDealResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made available under an Eclipse Public Licenses 1.0.
         This license may be found in the STAR/License directory as well as the STAR BOD Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="ValidDealResponse" type="ValidDealResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
            The primary purpose of this Noun is to provide a comprehensive list of incentives 
            that a buyer qualifies for when purchasing or financing a specific vehicle.
         </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidDealResponseHeader" type="ValidDealResponseHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidDealResponseDetail" type="ValidDealResponseDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Valid Deals detail.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidDealResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidDealResponseHeader" maxOccurs="1" minOccurs="1"/><xsd:element ref="ValidDealResponseDetail" maxOccurs="unbounded" minOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="ValidDealResponseHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the
            entire ValidDealResponse Business Object Document.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence/></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="ValidDealResponseDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This component contains the valid 
            deals s information for Incentive program
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidDealResponseResponse" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="ValidDealResponseResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation><xsd:sequence><xsd:element name="CustomerGeographyDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the textual description of the customer geography specified in the Flexible Geography
                  Description string  in GetValidDealResponse request.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="RequestVehicleCount" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Provides the number of VehicleIncentiveDetail groups included
                  in this Get Valid Deal response.</xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="GeoConflictOptions" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="VDVehicleIncentiveDetail" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="ValidDealResponseResponse" type="ValidDealResponseResponseType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="VDVehicleIncentiveDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Within an incentive program, incentives values are grouped by vehicle. It is possible
            for a single incentive program to have many distinct vehicles within a program, each with its own incentive values.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="vehicleFilterString" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the data element that identifies which types of vehicles are eligible
                  for the incentive program using the Flexible Vehicle Description (FVD) syntax. There are many different ways that vehicles might be categorized when the program is established. This syntax provides a powerful tool for describing a vehicle’s eligibility with widely varying attributes and combinations of features.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="vehicleFilterStringDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the vehicle, defined by the Flexible Vehicle String, in a ready-to-use 
                  format that can be presented to users.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="DealsPerVehicleCount" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Pthis provides a count of the DealResponse groups within each of VehicleIncentiveDetail group.</xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="VDDealResponse" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="VDDealResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This group repeats for each deal for a requested vehicle in the response. This allows the Get Valid Deals service to return a list of deals that meet the eligibility criteria of the request. Each deal would include one Top of Deal
            incentive and zero to many add-on incentives. The same add-on incentive may appear in multiple deals.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="VDSharedDealsTerm" minOccurs="0" maxOccurs="1"/><xsd:element ref="VDIncentiveInDeal" maxOccurs="unbounded" minOccurs="0"/><xsd:element ref="IncentiveSamplePayment" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="VDDealResponse" type="VDDealResponseType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="VDSharedDealTermsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the values shared with all the incentives within the deal.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="PurchaseType" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="PurchaseTypeDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="FinancialProvider" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">The financial provider specifies the bank or finance 
                  company that is supplying the financing for this deal. </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="FinancialProviderDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the financial provider code specified above.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="IncentiveTermBeginMonth" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">For cases where there is financing (e.g., Purchase Type = Finance or Lease),
                  this field will specify the minimum months term for the financing.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="IncentiveTermEndMonth" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">For cases where there is financing (e.g., Purchase Type = Finance or Lease), 
                  this field will specify the maximum months term for the financing.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="MinimumDealCashValue" type="udt:AmountType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This field represents the total cash value associated with the Top of Deal and the Always 
                        Stackable incentives.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="VDSharedDealsTerm" type="VDSharedDealTermsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the values shared with all the incentives within the deal.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="VDIncentiveInDealType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section links the incentive program to the individual incentive value.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="VDProgramIdentification" maxOccurs="1" minOccurs="1"/><xsd:element ref="IncentiveValue" maxOccurs="1" minOccurs="1"/><xsd:element ref="DealStackability" maxOccurs="1" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="VDIncentiveInDeal" type="VDIncentiveInDealType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This section links the incentive program to the individual incentive value.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="VDProgramIdentificationType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section links the incentive program to the individual incentive value.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="ProgramID" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is a unique identifier for an incentive program. Details group together multiple
                  vehicles and incentive terms into a single document to simplify authoring, posting, and reporting.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramRevisionNumber" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Denotes a specific revision of an incentive program. Each revision contains
                  the fully defined content of the incentive program and its eligibility criteria.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="standardIncentiveType" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                        This code specifies the type of incentive values that may be associated with each vehicle within the program. The standard incentive type determines 
                        whether cash, interest rate, residual, text based non cash incentives, and other special terms and conditions are allowed on the program.
                    </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramURL" type="qdt:URIType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">An URL to access 10 Point PDF file</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="TopOfDealInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A program is a “Top Of Deal” if it is a primary incentive which drives the 
                  selection of other incentives.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramName" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Program name includes some description of the program type and contents</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="DisplayRegion" type="udt:TextType" minOccurs="1" maxOccurs="unbounded"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Indicates the incentive programs that are of interest to dealers in a particular area.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="SeeContractInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies incentive programs that have special terms that require a dealer to review in the full program text. 
                  The incentive eligibility cannot be fully evaluated based on the rules within IOM.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="redemptionCode" type="udt:TextType" minOccurs="1" maxOccurs="unbounded"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the accounting code that is used by the dealers to file for reimbursement.</xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="VDIncentiveProgramTags"/></xsd:sequence></xsd:complexType><xsd:element name="VDProgramIdentification" type="VDProgramIdentificationType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="VDIncentiveProgramTagsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This group contains pertinent eligibility and filtering information about the incentive program; it is not a 
            repeat of the filter data sent in the request. Some of the values may be useful in determining how specific records within the response are to be handled.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="IncentiveFilterSelection" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterDate" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterFlexibleString" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterNumeric" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterList" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="VDIncentiveProgramTags" type="VDIncentiveProgramTagsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:element name="VDVehicleIncentiveDetail" type="VDVehicleIncentiveDetailType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Within an incentive program, incentives values are grouped by vehicle. It is possible
                for a single incentive program to have many distinct vehicles within a program, each with its own incentive values.</xsd:documentation></xsd:annotation></xsd:element></xsd:schema>