src/main/resources/xsd/star/Resources/Nouns/ValidMultipleVehicleIncentiveResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made available under an Eclipse Public Licenses 1.0.
         This license may be found in the STAR/License directory as well as the STAR BOD Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="ValidMultipleVehicleIncentiveResponse" type="ValidMultipleVehicleIncentiveResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
            The primary purpose of this Noun is to provide a comprehensive list of incentives 
            that a buyer qualifies for when purchasing or financing a specific vehicle.
         </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidMultipleVehicleIncentiveResponseHeader" type="ValidMultipleVehicleIncentiveResponseHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidMultipleVehicleIncentiveResponseDetail" type="ValidMultipleVehicleIncentiveResponseDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Valid Deals detail.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidMultipleVehicleIncentiveResponseHeader" minOccurs="1" maxOccurs="1"/><xsd:element ref="ValidMultipleVehicleIncentiveResponseDetail" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="ValidMultipleVehicleIncentiveResponseHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the
            entire ValidMultipleVehicleIncentiveResponse Business Object Document.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence/></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="ValidMultipleVehicleIncentiveResponseDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This component contains the valid 
            deals s information for Incentive program
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidMultipleVehicleIncentiveResponseResponse" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="MVResponseDealManagementType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="topOfDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to Top of Deal programs. 
                  Top of Deal programs are the primary incentives that a buyer receives when purchasing or financing a vehicle
                  (consumer cash, finance, lease). Setting the flag to true will exclude all stackable add-on programs from the results.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="alwaysStackableOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to: Top of Deal programs, and 
                  Always Stackable incentives.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="bestDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to one deal for each Purchase Type. 
                  Identifies the best deal based on the purchase type only</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="MVResponseDealManagement" type="MVResponseDealManagementType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveResponseRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation><xsd:sequence><xsd:element ref="MVResponseRequestTags" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ValidMultipleVehicleIncentiveResponseRequest" type="ValidMultipleVehicleIncentiveResponseRequestType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveResponseRequestTagsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The
                GetValidMultipleVehicleIncentiveRequestTagsGroup is the second major grouping of request data. It
                provides the eligibility criteria for selecting incentives. </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="RequestFilterSelection" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterDate" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterFlexibleString" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterNumeric" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterList" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseRequestTags" type="ValidMultipleVehicleIncentiveResponseRequestTagsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">The
            GetValidMultipleVehicleIncentiveRequestTagsGroup is the second major grouping of request data. It
            provides the eligibility criteria for selecting incentives. </xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidMultipleVehicleIncentiveResponseResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation><xsd:sequence><xsd:element ref="MVResponseResponseStats" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVResponseInputRequestData" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVResponseVehicleIncentiveDetail" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ValidMultipleVehicleIncentiveResponseResponse" type="ValidMultipleVehicleIncentiveResponseResponseType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseInputRequestDataType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The ResponseStats section contains a count of the supplemental 
            incentive program attachments sent with the response.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="MVResponseRequestHeader" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVResponseRequestTags" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseInputRequestData" type="MVResponseInputRequestDataType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Provides the total number of vehicles found in the VehicleRow
            group found in this GetValidMultipleVehicle response.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="MVResponseRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
                This section controls the type and the structure of the content to be returned. This is where you specify what you will get back. These controls allow 
                you to manage the filtering criteria.
            </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="Localization" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVResponseDealManagement" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseRequestHeader" type="MVResponseRequestHeaderType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                This section controls the type and the structure of the content to be returned. This is where you specify what you will get back. These controls allow you 
                to manage the filtering criteria.
            </xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="MVResponseResponseStatsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The ResponseStats section contains a count of the supplemental 
            incentive program attachments sent with the response.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="vehicleCount" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Provides the total number of vehicles found in the VehicleRow
                  group found in this GetValidMultipleVehicle response.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="programCount" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Provides the number of top of deals Programs included in this 
                  GetValidMultipleVehicle response.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="MVResponseResponseStats" type="MVResponseResponseStatsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseVehicleIncentiveDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
              This group defines two related categories of information, vehicle information and program incentive information. Program incentive pointer will be
              used in the VehicleRow group will be used to create a relationship to the top of deal incentive in the DealResponse group.
           </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="MVResponseVehicleRow" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="MVResponseDealResponse" minOccurs="1" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseVehicleIncentiveDetail" type="MVResponseVehicleIncentiveDetailType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseVehicleRowType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
            This set of data identifies a group of vehicles that have incentives available to them.
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="vehicleModelYear" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  This specifies the model year of the vehicle specified in the vehicleFilterString field, below.
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="vehicleDivision" type="udt:TextType" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  This specifies the division of the vehicle specified in the vehicleFilterString field, below.
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="vehicleModel" type="udt:TextType" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  This specifies the model of the vehicle specified in the vehicleFilterString field, below.
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="vehicleDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  Specifies a descriptive name for the vehicle specified in the vehicleFilterString field below. 
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="vehicleFilterString" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  Describes attributes about the vehicle being purchased using the Flexible Vehicle Description (FVD) syntax.
                  This provides a powerful tool for describing vehicles with widely varying attributes and combinations of features.
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="dealReferenceId" type="udt:TextType" minOccurs="1" maxOccurs="unbounded"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  This group repeats for each deal in the response. This allows the Get Multiple Vehicles method to
                  return a list of deals that meet the eligibility criteria of the request.
               </xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="MVResponseVehicleRow" type="MVResponseVehicleRowType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseDealResponseType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This group repeats for each deal for a requested vehicle in the response. This allows the Get Valid Deals service to return a list of deals that meet the eligibility criteria of the request. Each deal would include one Top of Deal
            incentive and zero to many add-on incentives. The same add-on incentive may appear in multiple deals.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="dealReferenceId" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                    This group repeats for each deal in the response. This allows the Get Multiple Vehicles method to
                    return a list of deals that meet the eligibility criteria of the request.
                 </xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="MVResponseSharedTerms" minOccurs="1" maxOccurs="1"/><xsd:element ref="MVResponseIncentiveInDeal" maxOccurs="unbounded" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseDealResponse" type="MVResponseDealResponseType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="MVResponseSharedTermsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
              A deal is defined by incentives that have certain shared criteria. The following values are shared with all the incentives within the deal.
           </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="PurchaseType" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="PurchaseTypeDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This represents the purchase type of the Top of Deal Incentive.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="FinancialProvider" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">The financial provider specifies the bank or finance 
                  company that is supplying the financing for this deal. </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="FinancialProviderDescription" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A description of the financial provider code specified above.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="IncentiveTermBeginMonth" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">For cases where there is financing (e.g., Purchase Type = Finance or Lease),
                  this field will specify the minimum months term for the financing.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="IncentiveTermEndMonth" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">For cases where there is financing (e.g., Purchase Type = Finance or Lease), 
                  this field will specify the maximum months term for the financing.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="minimumDealCashValue" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the total cash value associated with the Top of Deal and the
                    Always Stackable incentives. This is in effect the minimum cash that would be available for the Deal assuming that the Top of 
                    Deal and its Always Stackable add on incentives was selected.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="MVResponseSharedTerms" type="MVResponseSharedTermsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseIncentiveInDealType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section links the incentive program to the individual incentive value.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="MVResponseProgramIdentification" maxOccurs="1" minOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseIncentiveInDeal" type="MVResponseIncentiveInDealType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseProgramIdentificationType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section links the incentive program to the individual incentive value.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="ProgramID" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is a unique identifier for an incentive program. Details group together multiple
                  vehicles and incentive terms into a single document to simplify authoring, posting, and reporting.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramRevisionNumber" type="udt:NumericType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Denotes a specific revision of an incentive program. Each revision contains
                  the fully defined content of the incentive program and its eligibility criteria.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramURL" type="qdt:URIType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">An URL to access 10 Point PDF file</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="standardIncentiveType" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                    This code specifies the type of incentive values that may be associated with each vehicle within the program. The standard incentive type determines whether cash, 
                    interest rate, residual, text based non cash incentives, and other special terms and conditions are allowed on the program.
                 </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="programAbbrCode" type="udt:TextType" minOccurs="0" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                    Provides a short code indicating the program type, typically displayed on reports as a reference 
                    to another section of the report where more information about the program is displayed.
                 </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="TopOfDealInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A program is a “Top Of Deal” if it is a primary incentive which drives the 
                  selection of other incentives.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ProgramName" type="udt:TextType" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Program name includes some description of the program type and contents</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="SeeContractInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Identifies incentive programs that have special terms that require a dealer to review in the full program text. 
                  The incentive eligibility cannot be fully evaluated based on the rules within IOM.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="redemptionCode" type="udt:TextType" minOccurs="0" maxOccurs="unbounded"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the accounting code that is used by the dealers to file for reimbursement.</xsd:documentation></xsd:annotation></xsd:element><xsd:element ref="MVResponseIncentiveProgramTags" minOccurs="0" maxOccurs="1"/><xsd:element ref="IncentiveValue" minOccurs="1" maxOccurs="1"/><xsd:element ref="DealStackability" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseProgramIdentification" type="MVResponseProgramIdentificationType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="MVResponseIncentiveProgramTagsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This group contains pertinent eligibility and filtering information about the incentive program; it is not a 
            repeat of the filter data sent in the request. Some of the values may be useful in determining how specific records within the response are to be handled.</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="IncentiveFilterSelection" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterDate" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterFlexibleString" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterNumeric" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="IncentiveFilterList" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="MVResponseIncentiveProgramTags" type="MVResponseIncentiveProgramTagsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element></xsd:schema>