src/main/resources/xsd/star/Resources/Nouns/ValidDealRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" targetNamespace="http://www.starstandard.org/STAR/5" elementFormDefault="qualified" attributeFormDefault="unqualified" blockDefault="#all"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made available under an Eclipse Public Licenses 1.0.
         This license may be found in the STAR/License directory as well as the STAR BOD Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="ValidDealRequest" type="ValidDealRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">
            The primary purpose of this Noun is to provide a comprehensive list of incentives 
            that a buyer qualifies for when purchasing or financing a specific vehicle.
         </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidDealRequestHeader" type="ValidDealRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Initial Download Header.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ValidDealRequestDetail" type="ValidDealRequestDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Valid Deals detail.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidDealRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">STAR Initial Version - Draft</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidDealRequestHeader" maxOccurs="1" minOccurs="1"/><xsd:element ref="ValidDealRequestDetail" maxOccurs="unbounded" minOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="ValidDealRequestHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The Header component contains summary information related to the
            entire ValidDealRequest Business Object Document.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence><xsd:element ref="Localization" minOccurs="1" maxOccurs="1"/><xsd:element ref="VDDealManagement" minOccurs="1" maxOccurs="1"/><xsd:element name="returnIncentiveProgramTagsInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">If this flag is set to true, then detailed eligibility and 
                           filtering information will be included in the response.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="ValidDealRequestDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This component contains the valid 
            deals s information for Incentive program
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="ValidDealRequestRequest" minOccurs="1" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:complexType name="VDDealManagementType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="topOfDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to Top of Deal programs. 
                  Top of Deal programs are the primary incentives that a buyer receives when purchasing or financing a vehicle
                  (consumer cash, finance, lease). Setting the flag to true will exclude all stackable add-on programs from the results.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="alwaysStackableOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to: Top of Deal programs, and 
                  Always Stackable incentives.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="bestDealOnlyInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Allows the calling application to restrict the results to one deal for each Purchase Type. 
                  Identifies the best deal based on the purchase type only</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="ignoreGeoConflictInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Geography conflicts occur when the physical geographic areas corresponding to the 
                  customer’s zip code(s) specified on a Get Valid Deal Permutations request span more than one county. When this occurs, it is possible that 
                  the consumer may not be eligible for some of the incentives. Calling applications may choose to let IOM handle the conflict resolution or they 
                  may choose to deal with the conflict in an interactive way.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="calculateSamplePaymentInd" type="xsd:boolean" minOccurs="1" maxOccurs="1"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">The Get Valid Deals service can calculate a sample monthly payment based on the price of the vehicle under consideration 
                  and its associated incentives. The Calling Application needs to provide inputs to the calculation, such as MSRP and down payment, in the 
                  Request Sample Payment group. The incentives for each sample payment (interest rate, residuals, etc.) will be obtained from the data 
                  on the incentive program. If true include a sample payment in the result. This requires additional input data
                  (e.g. vehicle MSRP, downpayment). If the flag is set to false, then a sample payment group will not be calculated and the samplePayment group will not be included 
                  in the Response.</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="VDDealManagement" type="VDDealManagementType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This section allows the calling application to select the amount
            of data that is returned in the response. It is possible to limit the response to only the highest level incentives or 
            to request the full detail of every available incentive within the deal.</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="ValidDealRequestRequestType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation><xsd:sequence><xsd:element ref="VDRequestTags" minOccurs="1" maxOccurs="1"/><xsd:element ref="VDRequestSamplePayment" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType><xsd:element name="ValidDealRequestRequest" type="ValidDealRequestRequestType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="ValidDealRequestTagsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">The
                GetValidDealRequestTagsGroup is the second major grouping of request data. It
                provides the eligibility criteria for selecting incentives. </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="RequestFilterSelection" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterDate" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterFlexibleString" minOccurs="1" maxOccurs="unbounded"/><xsd:element ref="RequestFilterNumeric" minOccurs="0" maxOccurs="unbounded"/><xsd:element ref="RequestFilterList" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:element name="VDRequestTags" type="ValidDealRequestTagsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:complexType name="VDRequestSamplePaymentType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">A sample payment is a monthly finance payment for a Finance (loan) or Lease type deal.
            </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="mSRPAmount" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This is the Manufacturer’s Suggested Retail Price for the vehicle (MSRP).</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="destinationFreightChargeAmount" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">This filter group specifies numeric parameters with lower and upper bounds. 
                  Each group is composed of a numeric type, upper and lower bound values, a numeric control and a change indicator.</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="pegDiscountAmount" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  The PEG Discount is a price reduction that applies to a Preferred Equipment Group option package.   
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="surveyedPricePercent" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">When the negotiated amount 
                  is lower than MSRP (as it usually is), then it is desirable to advertise a sample payment that reflects this
                  lower vehicle cost</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="acquisitionCostAmountOverride" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                  This is the amount that the buyer of the vehicle pays the dealership to reduce the amount financed.   
               </xsd:documentation></xsd:annotation></xsd:element><xsd:element name="downPaymentAmount" type="udt:AmountType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">
                        This is the amount that the buyer of the vehicle pays the dealership to reduce the amount financed.
                    </xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType><xsd:element name="VDRequestSamplePayment" type="VDRequestSamplePaymentType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">A sample payment is a monthly finance payment for a Finance
                (loan) or Lease type deal.</xsd:documentation></xsd:annotation></xsd:element></xsd:schema>