src/main/resources/xsd/star/Resources/Nouns/VehicleTelematics.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns="http://www.starstandard.org/STAR/5" xmlns:sqdt="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" xmlns:sudt="http://www.starstandard.org/STAR/5/unqualifieddatatypes/1.0" xmlns:oacl="http://www.openapplications.org/oagis/9/codelists" xmlns:udt="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" xmlns:ccts="urn:un:unece:uncefact:documentation:1.1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:star="http://www.starstandard.org/STAR/5" xmlns:qdt="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" xmlns:scl="http://www.starstandard.org/STAR/5/codelists" attributeFormDefault="unqualified" blockDefault="#all" elementFormDefault="qualified" targetNamespace="http://www.starstandard.org/STAR/5"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> This schema is made
			available under an Eclipse Public Licenses 1.0.
			This license may be
			found in the STAR/License directory as well as the
			STAR BOD
			Guidelines.</xsd:documentation></xsd:annotation><xsd:include schemaLocation="../Components/Common/Meta.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/qualifieddatatypes/1.0" schemaLocation="../Components/Common/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/unqualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/UnqualifiedDataTypes.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9/qualifieddatatypes/1.1" schemaLocation="../Components/OAGIS/CoreComponents/QualifiedDataTypes.xsd"/><xsd:import namespace="http://www.starstandard.org/STAR/5/codelists" schemaLocation="../Components/Common/CodeLists.xsd"/><xsd:import namespace="http://www.openapplications.org/oagis/9" schemaLocation="../Components/OAGIS/Common/Components.xsd"/><xsd:element name="VehicleTelematics" type="VehicleTelematicsType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"/></xsd:annotation></xsd:element><xsd:element name="VehicleTelematicsHeader" type="VehicleTelematicsHeaderType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5"> Vehicle Telematics
				Header</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="VehicleTelematicsDetail" type="VehicleTelematicsDetailType"><xsd:annotation><xsd:documentation source="http://www.starstandard.org/STAR/5">Detail Line
			</xsd:documentation></xsd:annotation></xsd:element><xsd:complexType name="VehicleTelematicsType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5"> 
				Vehicle Telematics
         </xsd:documentation></xsd:annotation><xsd:sequence><xsd:element maxOccurs="1" minOccurs="1" ref="VehicleTelematicsHeader"/><xsd:element maxOccurs="1" minOccurs="1" ref="VehicleTelematicsDetail"/></xsd:sequence></xsd:complexType><xsd:complexType name="VehicleTelematicsHeaderType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Telematics
				header information.</xsd:documentation></xsd:annotation><xsd:complexContent><xsd:extension base="HeaderBaseType"><xsd:sequence><xsd:element maxOccurs="1" minOccurs="0" ref="Vehicle"/><xsd:element maxOccurs="1" minOccurs="0" ref="DealerParty"/></xsd:sequence></xsd:extension></xsd:complexContent></xsd:complexType><xsd:complexType name="VehicleTelematicsDetailType"><xsd:annotation xmlns="http://www.starstandards.org/STAR"><xsd:documentation source="http://www.starstandard.org/STAR/5">Vehicle Telematics Detail Line</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element ref="TelematicsPosition" minOccurs="0" maxOccurs="1"/><xsd:element ref="TelematicsUtilization" minOccurs="0" maxOccurs="1"/><xsd:element ref="TelematicsFuel" minOccurs="0" maxOccurs="1"/></xsd:sequence></xsd:complexType></xsd:schema>